#minime {
    height: 15%;
    position: fixed;
    top: 83%;
    left: 40%;
}

#Hello {
    position: fixed;
    top: 10%;
    left: 50%;
    animation: slideleft 2s ease-in-out;
    transition: 3s;
    font-size: 5vw;
}


/* Animations */

@keyframes slideleft {
    from {transform: translate(1000%);}
    to {transform: translate(0%);}
}