#minime {
    height: 15%;
    position: fixed;
    top: 83%;
    left: 40%;
}

#Hello {
    position: fixed;
    top: 15%;
    left: 20%;
    animation: slideright 2s ease-in-out;
    transition: 3s;
    font-size: 5vw;
    cursor: pointer;
}

#HTML, #CSS, #JavaScript {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: fixed;
    top: 33%;
    cursor: pointer;
    transition: 0.7s;
}

#HTML:hover, #CSS:hover, #JavaScript:hover{
    transform: scale(1.5);
    transition: 0.3s;
}


#HTML{
    left: 56%;
    background-color: orange;
    width: 4vw;
    height: 6vh;
    color: white;
    animation: slideleft 1s ease-in-out;
}

#CSS {
    left: 63%;
    background-color: rgb(107, 206, 231);
    width: 4vw;
    height: 6vh;
    color: rgb(0, 0, 0);
    animation: slideleft 2s ease-in-out;
}

#JavaScript {
    left: 70%;
    background-color: yellow;
    width: 8vw;
    height: 6vh;
    color: black;
    animation: slideleft 2s ease-in-out;
}

#description {
    position: fixed;
    top: 15%;
    right: 16%;
    font-size: 1vw;
    background-color: rgba(112, 111, 111, 0.074);
    width: 40vw;
    height: 10vh;
    border-radius: 10px;
    font-family: nunito;
    font-weight: bold;
    padding: 1%;
    animation: fadein 3s ease-in-out;
}





/* Animations */

@keyframes slideleft {
    from {transform: translate(1000%);}
    to {transform: translate(0%);}
}

@keyframes slideright {
    from {opacity: 0; transform: translate(-1000%);}
    to {opacity: 1; transform: translate(0%);}
}

@keyframes fadein {
    from {opacity: 0;}
    50% {opacity: 0;}
    to {opacity: 1;}
}